NET "IN_GLOBAL_clk" LOC = "C9";

NET "IN_GLOBAL_switch[3]" LOC = "N17";
NET "IN_GLOBAL_switch[2]" LOC = "H18";
NET "IN_GLOBAL_switch[1]" LOC = "L14";
NET "IN_GLOBAL_switch[0]" LOC = "L13";

NET "IN_GLOBAL_button_north" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN;

NET "OUT_DISPLAY_sf_e" LOC = "D16";
NET "OUT_DISPLAY_e" LOC = "M18";
NET "OUT_DISPLAY_rs" LOC = "L18";
NET "OUT_DISPLAY_rw" LOC = "L17";
NET "OUT_DISPLAY_d" LOC = "M15";
NET "OUT_DISPLAY_c" LOC = "P17";
NET "OUT_DISPLAY_b" LOC = "R16";
NET "OUT_DISPLAY_a" LOC = "R15";

NET "STATE_TEST_LEDS[1]" LOC = "F9";
NET "STATE_TEST_LEDS[0]" LOC = "E9";

NET "GENERATOR_TEST_LEDS[0]" LOC = "F12";
NET "GENERATOR_TEST_LEDS[1]" LOC = "E12";
NET "GENERATOR_TEST_LEDS[2]" LOC = "E11";
NET "GENERATOR_TEST_LEDS[3]" LOC = "F11";
